

/*.legend_item-title {
    font-weight: bold;
}*/

.terr-oopt-item, .terr-fin-item, .terr-cleaned-item, .terr-air-item  {
    margin: 0;
    padding: 0;
}

.srd-item {
    margin-top: 20px;
    padding: 0;
}

.icons-lighthouse-item, .land-photo-item {
    margin-top: 20px;
}
.terr-oopt-item {

}
.depths-item {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}